body {
  font-family: Arial;
  background: #f2f2f2;
}

.dark {
  background: #121212;
  color: white;
}

.login {
  text-align: center;
  margin-top: 120px;
}

.chat-container {
  width: 400px;
  margin: 40px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.dark .chat-container {
  background: #1e1e1e;
}

#messages {
  height: 200px;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-bottom: 10px;
}

.emoji span {
  cursor: pointer;
  font-size: 20px;
}
